@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Sofia+Sans+Semi+Condensed:wght@500&display=swap');

.header {
    background: rgb(90, 89, 89);
    color: white;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.right-links {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}


body {
    font-weight: bold;
    background: #eee;
}

.intro-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35px;
    background: rgb(148, 143, 143);
    border-radius: 2em;
}

.intro-container-left {
    display: block;
    flex-direction: row;
    align-items: center;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

.intro-button {
    border-radius: 10px;
    font-size: 25px;
}

.intro-container-right {
    display: flex;
    justify-content: flex-end;
} 

.steps-pics {
    display: flex;
    justify-content: space-around;
    padding-top: 400px;
}

.steps-info {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    background: lightgrey;
}

.inspirational-quote {
    display: flex;
    justify-content: flex-start;
    background: rgb(148, 143, 143);
    padding: 20px;
    margin: 50px 75% 50px 5%;
    border-radius: 2em;
    font-style: italic;
}

button {
    border-radius: 10px;
    color: white;
    background:rgb(106, 106, 243)
}

.footer-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 50px;
    margin: 50px 25% 50px 25%;
    border-radius: 1em;
    background: rgb(90, 89, 89);
    font-size: 25px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}